@model List<AdvertisementListDto>
@{
    ViewData["Title"] = "HumanResource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-3">
    <div class="accordion" id="accordionExample">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@Model[i].Id">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model[i].Id" aria-expanded="@(i == 0)" aria-controls="collapse-@Model[i].Id">
                        @Model[i].Title
                    </button>
                </h2>
                <div id="collapse-@Model[i].Id" class="accordion-collapse collapse @(i == 0? "show" : "")" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>@Model[i].Description.</strong>
                        <p>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Advertisement" asp-action="Send" class="btn btn-outline-success" asp-route-advertisementId="@Model[i].Id">Başvur</a>
                            }
                            else
                            {
                              <div class="alert alert-light text-center ">
                                  Başvuru yapmak için giriş yapınız. <a asp-controller="Account" asp-action="SignIn" class="btn btn btn-outline-primary">Giriş Yap</a>
                              </div>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

{

}




